entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "imagemagick_light", "libyaml", "mailutils"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Upload API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Master Responder"

[[workflows.workflow]]
name = "Flask API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python on_user_login_api.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Upload API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python master_ai_uploader_api.py"
waitForPort = 8008

[[workflows.workflow]]
name = "Master Responder"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 master_responder.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8008
externalPort = 8008

[[ports]]
localPort = 9000
externalPort = 9000

[[ports]]
localPort = 32985
externalPort = 3000
